<h2>Profile</h2>

<p><%= image_tag(@user.image) %></p>
<p>Username: <%= @user.username %></p>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>



<%= link_to( "Edit Profile", edit_user_path(@user) ) %>
<%= link_to( "Delete Profile", user_path(@user), :method => :delete ) %>
