<!DOCTYPE html>
<html>
<head>
  <title>Outside</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Arapey:400,400italic|Neucha|PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav>
    <%= link_to "Home", root_path %> |
    <% if @current_user %>
      <%= link_to "Your Profile", @current_user %> |
      <%= link_to "Destinations", destinations_path %> |
      <%= link_to "Log out", logout_path, :method => :delete %>
    <% else %>
      <%= link_to "Create Account", new_user_path %> |
      <%= link_to "Login", login_path %>
    <% end %>
  </nav>

  <% if @current_user %>
    <p>Signed in as <%= @current_user.username %></p>
  <% end %>

  <% if flash[:success] %>
    <p><%= flash[:success] %></p>
  <% end %>

  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>

  <%= yield %>

</body>
</html>
